

<div class="modal fade" id="hakkimizdaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div id="hakkımızdaAlanı" class="modal-content">
            <div class="modal-header justify-content-center">
                <h1 style="color:white">
                    Biz Kimiz?
                </h1>
                <button type="button" class="close btn-danger kapatma-butonu" style="color:red" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div  id="hakkımızda" class="modal-body text-justify">
                <p>
                    7 Nisan 2021 tarihinde başlanılarak xx.xx.xxxx tarihinde tamamlanıp siz Değerli Okur/Yazarlara paylaşıma açılan Satellite Blog Havacılık ve Uzay alanına gönül veren, bu alandaki gelişmeleri takip etmek isteyen, sektörde çalışanların konuyla ilgili bilgi birikimlerini paylaştıkları ve bu profillerin interaktif bir ortamda bir arada bulunmasına olanak sağlamak istiyoruz. Amacımız sizin dünyaya açılmanızı sağlamak.
                </p>
                <h3>
                    <i>
                        Güç : Bilgi Paylaşımı demektir.
                    </i>
                </h3>
                <p>
                    Bu site, Bilge Adam bünyesinde eğitim alan Uğurcan Oruç tarafından oluşturulmuştur. Kendisi ile ilgili iletişim adreslerini sayfa altlarındaki açıklama bölümümden ulaşabilirsiniz.
                </p>
            </div>
            <div class="modal-header">
            </div>
        </div>
    </div>
</div>
